body{
  color: black;
  font-family: 'Inter', sans-serif;
}
p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: black;
}
main img{
  width: 200px;
  height: auto;
  float: right;
  border: 3px solid #b5179e;
  padding: 10px;
}
h1{
  color: white;
  text-align: left;
}
h2{
  color:#7209b7;
  font-family: 'Inter', sans-serif;
  display: grid;
  grid-template-columns: 3fr;
}
#visual.column{
grid-column: 1fr;
}
#proximity.column{
grid-column: 1fr;
}
#contrast.column{
grid-column: 1fr;
}
#visual.parag{
  grid-column: 1fr;
}
#prox.parag{
  grid-column: 1fr;
}
#contrast.parag{
  grid-column: 1fr;
}
a{
  color: #b5179e;
  font-size: 16px;
}

header,footer{
  border: 1px solid #b5179e;
  border-radius: 25px;
  padding: 1rem;
  background-color: #7209b7;
}