body{
  color: black;
  font-family: 'Inter', sans-serif;
}
p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: black;
}
main img{
  width: 200px;
  height: auto;
  float: right;
  border: 3px solid #b5179e;
  padding: 10px;
}
h2,h3{
  color:#7209b7;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}