/* Tablet Views */
@media only screen and (min-width: 32.5em) {
 
  #heading-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    grid-template-rows: 2fr;
  }
  #visual-column {
    grid-column: 1;
    grid-row: 2;
  }
  #prox-column
    {
      grid-column: 1;
      grid-row: 1;
    }
  #contrast-column{
    grid-column: 2;
    grid-row: 1;
  }
  main img{
    display: grid;
    max-width: 100%;
    
  }
  #visual-img{
    grid-column: 1;
    grid-row: 2;
  }
  #prox-img{
    grid-column: 1;
  }
  #contrast-img{
  grid-column: 2;
  }
}