@media(min-width: 32.5em){
  h1{
    font-size: 18px;
  }

  h2{
    font-size: 15px;
  }
  header,footer{
    border-radius: 25px;
  }
  main img{
    float: right;
    box-shadow: 2px 2px 2px grey;
  }
}
@media(min-width:60em){
  h1{
    font-size: 22px;
  }

  h2{
    font-size: 18px;
  }
  header,footer{
    border-radius: 32px;
  }
  main img{
    float: right;
    box-shadow: 2px 2px 2px grey;
  }

}