body{
  color: black;
}
p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: black;
}
main img{
  width: 200px;
  height: auto;
  float: right;
  border: 2px solid #b5179e;
  padding: 10px;
}
main{
  margin: 0 10px 0 10px;
}

a{
  color: #b5179e;
  font-size: 12px;
}

header,footer{
  border: 1px solid #b5179e;
  border-radius: 25px;
  padding: 1rem;
  background-color: #7209b7;
  color: white;

}
.heading-column{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  grid-template-rows: 3fr;
}
.visual-column {
  grid-column: 1;
  grid-row: 1;
}
.prox-column
  {
    grid-column: 1;
    grid-row: 2;
  }
.contrast-column{
  grid-column: 1;
  grid-row: 3;
}