body{
  color: black;
}
p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: black;
}
main{
  margin: 0 10px 0 10px;
}

a{
  color:white;
  font-size: 12px;
}

header,footer{
  border: 1px solid #b5179e;
  border-radius: 25px;
  padding: 1rem;
  background-color: #7209b7;
  color: white;
  text-align: center;

}
#heading-column{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  grid-template-rows: 3fr;
}
#visual-column {
  grid-column: 1;
  grid-row: 1;
}
#prox-column
  {
    grid-column: 1;
    grid-row: 2;
  }
#contrast-column{
  grid-column: 1;
  grid-row: 3;
}
main image{
  display: grid;
  max-width: 100%;
}
#visual-img{
  grid-column: 1;
}
#prox-img{
  grid-column: 1;
}
#prox-imag{
grid-column: 1;
}