h1{
  color: white;
}
body{
  color: black;
  font-family: 'Inter', sans-serif;
}

header,main,footer{
max-width: 760px;
margin: 0 auto;
}
header {
  border: 1px solid #b5179e;
  padding: 1rem;
  background-color: #7209b7;
}
main img{
  width: 155px;
  height: auto;
}

footer{
  color: white;
  text-align: center;
}
p{
  color: aqua;
}

h2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
}
h3{
  color: black;
}