html {
  font-family: "Ubuntu", sans-serif;
}

table {
  border-collapse: collapse;
  border: 2px solid #e7f0ed;
  letter-spacing: 1px;
  font-size: 0.8rem;
  box-shadow: 5px 10px 18px #628ca6;
}
thead{
  background-color: #7fb9c2;
  color: black;
 font-size: 16px;
}
tfoot{
  background-color: #7fb9c2;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th{
  background-color: #628ca6;
  color: white;
}

td {
  text-align: center;
}

tbody:nth-child(odd) {
  background-color: #e7ffed;
}

tbody {
  background-color: #e7f0ed;
}

caption {
  padding: 10px;
}
#only{
  background-color: #628ca6;
  color: white;
}