.gallery{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
picture{
  grid-column: 1;
  grid-row: auto;
}
img[data-src] {
  filter: blur(0.2em);
}
img {
  filter: blur(0em);
  transition: filter 0.5s;
}