/* Tablet Views */
@media only screen and (min-width: 32.5em) {
  button {
   display: none;
 float: right;
 }

 
 nav ul{margin: 2%;}
 nav ul li {
   float: left;
 }
 nav ul li a {
   border: none;
   border-right: 1px solid #F2CDA0;
   padding: .8rem 1rem;
 }
 nav ul.hide{
   display: block;
 }

header,footer{
 border-radius: 25px;
}
.page-ph{
 float: left;
}
.wheatersummary{
width: auto;
height: max-content;
position: inherit;
}


#fiveday{
 margin: 10px auto;
 width: 50%;
 display: grid;
 grid-template-columns: 3fr;
 grid-template-rows: 2fr;
}
.monday{
 border: 1px solid #214DA6;
 padding: .5rem;
 color: #F2CDA0;
 font-family: sans-serif;
 grid-column: 1;
grid-row: 1;
}
.tuesday{
 border: 1px solid #214DA6;
 padding: .5rem;
 color: #F2CDA0;
 font-family: sans-serif;
 grid-column: 2;
 grid-row: 1;

}
.wednesday{
 border: 1px solid #214DA6;
 padding: .5rem;
 color: #F2CDA0;
 font-family: sans-serif;
 grid-column: 3;
 grid-row: 1;

}
.thursday{
 border: 1px solid #214DA6;
 padding: .5rem;
 color: #F2CDA0;
 font-family: sans-serif;
 grid-column: 1;
 grid-row: 2;

}
.friday{
 border: 1px solid #214DA6;
 padding: .5rem;
 color: #F2CDA0;
 font-family: sans-serif;
 grid-column: 2;
 grid-row: 2;
}
#monday{
 width: 40px;
 height:40px;
}
#tuesday{
 width: 40px;
 height:40px;
}
#wednesday{
 width: 50px;
 height:50px;
}
#thursday{
 width: 50px;
 height: 50px;
}
#friday{
 width: 40px;
 height:40px;
}

}