body{
  color: black;
}
#content  {
  max-width: 960px;
  margin: 0 auto;
}
p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: black;
}

a{
  color:#b5179e;
  font-size: 12px;
}
#lastmod{
  color: white;
}

header,footer{
  text-align: center;
  border: 1px solid #F2CDA0;
  border-radius: 25px;
  padding: 3rem;
  background-color: #F25244;
  color: #214DA6;
  font-family: 'Roboto', sans-serif;
}
picture{
  align-content: left;
}
nav button{
  margin: .2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #F2CDA0;
}
nav {
	background-color:#F25244 ;
	text-align: center;
	box-shadow: 0 2px 15px gray;
  border-radius: 25px;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
  border-top: 1px solid #F2CDA0;
}

nav a:hover {
	background-color: #F2CDA0;
	color: #214DA6;
  
}
nav ul.hide{
  display: none;
}
#info-men{
  display: grid;
}
#img-woman, #img-man{
  grid-template-rows: auto;
}

picture{
  position:absolute;
  left:0;
  top:0;
}
 h2{
  color: #214DA6;
  font-family: 'Roboto', sans-serif;
 }
h1{
  color:#F2CDA0;
  font-family: 'Roboto', sans-serif;
}
.clearfix:after{
  content: "";
display: table;
clear: both;
}