/* Desktop Views */
@media only screen and (min-width: 67.5em) {
  nav ul li a{
    padding: .6rem 1rem;
  }
  header, footer{
    display: grid;
    grid-template-rows: 2fr;
   width: auto;
  }
  .primaryNav{
grid-row: 2;
  }
  nav ul.hide{
    display: block;
  }

  .towns { 
    width: auto;
}

.towns section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.towns section img {
grid-row: auto;
}
.towns section p{
  grid-row: auto;
}
.towns section h2{
  grid-row: auto;
}

}