/* Desktop Views */
@media only screen and (min-width: 67.5em) {
  nav ul li a{
    padding: .6rem 1rem;
  }
  header, footer{
    display: grid;
    grid-template-rows: 2fr;
   width: auto;
  }
  .primaryNav{
grid-row: 2;
  }
  nav ul.hide{
    display: block;
  }
  .tows {
  
    width: 100%;
}
.towns section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  
}
.towns section p {
  grid-row: 1;

}
.towns section img {
  grid-row: 1;

}
.towns section h2 {
  grid-row: 1;
  text-align: center;

}
}