/* Tablet Views */
@media only screen and (min-width: 32.5em) {
  button {
    display: none;
  float: right;
  }
 
  
  nav ul{margin: 2%;}
  nav ul li {
    float: left;
  }
  nav ul li a {
    border: none;
    border-right: 1px solid #F2CDA0;
    padding: .8rem 1rem;
  }
  nav ul.hide{
    display: block;
  }
 
header,footer{
  border-radius: 25px;
  width: auto;
 }
 .towns{
  display: grid; 
  grid-template-columns: 1fr 1fr;
 }
 
#soda{
grid-column: 1;
}
#fish{
grid-column: 1;
}
#preston{
 grid-column: 1;
}

}