
main{
  border: 1px solid #ccc;
  padding:15px;
  background-color: #eee;
}
main section{
  margin-left: 25px;

}
footer{
  border-top: 1px solid #555;

}
.cards{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.utah{
  display: grid;
}
section img{
  width: 100%;
  box-shadow:0 0 50px #000;
  
}
section{
  border: 1px solid #4D4D96;
  padding:15px;
  background-color: #B6B6C9;
}
.purple{
  color: #4D4D96;
  font-family: 'Bree Serif', serif;
}
h1{
  align-items: center;
  color: #4D4D96;
  font-family: 'Bree Serif', serif;
}
