body{
  
  background-color: #dbdbdb;
}
#content  {
  max-width: 960px;
  margin: 0 auto;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  
}
#chamber{
  text-align: center;

  color: #dbdbdb;
  font-family: 'Roboto', sans-serif;
  width: auto;
}
h1, h2{
  font-family: 'Roboto', sans-serif;
  color: #002087;
}
a{
  color:#b5179e;
  font-size: 12px;
}
#lastmod{
  color: white;
}
.button {
  border: none;
  color: #002087;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
header,footer {
  text-align: center;
  border: 1px solid #002087;
  border-radius: 25px;
  padding: 3rem;
  background-color: #670300;
  color: #dbdbdb;
  font-family: 'Roboto', sans-serif;
  width: auto;

}

nav {
	background-color:#002087 ;
	text-align: center;
	box-shadow: 0 2px 15px gray;
  border-radius: 25px;
  position: relative;
  height: 100%;
  
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

}
nav ul li a {
	display: block;
	color: #fff;
	text-align: left;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
  border-top: 1px solid #dbdbdb;
 height: 100%;
 left: -100%;
transition: all .5s;
}

nav a:hover, .active {
	background-color: #dbdbdb;
	color: #002087;
  
}
nav ul.hide{
  display: none;
  
}
* {box-sizing:border-box}


.buttons {
  display: flex;
  justify-content: left;
 
}
.button-list .stores{
  border: 1px solid #002087;
  margin : 10px;
  padding: 10px 20px;
  display:flex;
  align-items: center;
}

.button-view{
  width: 100%;
}
 
.buttn-view section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}


  


#contactinfo{
  margin: 10px auto;
  background-color: #dbdbdb;
  font-family: 'Roboto', sans-serif;
  
 
  }
 
  #contacttext{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .contactheading{
    grid-column: 1;
    grid-row: 1;
  }
.local{
  grid-column: 2;
   grid-row: 2;
 }
 .tel{
   grid-column: 2;
   grid-row: 3;
 }
 .mail{
   grid-column: 2;
   grid-row: 4;
 }
 #local{
   grid-column: 1;
   grid-row: 2;
   width: 40px;
   height: 40px;
 }
 #tel{
   grid-column: 1;
   grid-row: 3;
   width: 40px;
   height: 40px;
 }
 #mail{
   grid-column: 1;
   grid-row: 4;
   width: 40px;
   height: 40px;
  }
 .social {
   grid-column: 2;
   grid-row: 5;
   grid-gap: 10em;
   justify-content: end;
 }
 .social img{
   width: 50px;
   height: 50px;
 }
