body{
  color: black;
}
#content  {
  max-width: 960px;
  margin: 0 auto;
}
p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: black;
}

a{
  color:#b5179e;
  font-size: 12px;
}
#lastmod{
  color: white;
}

header,footer{
  text-align: center;
  border: 1px solid #F2CDA0;
  border-radius: 25px;
  padding: 3rem;
  background-color: #F25244;
  color: #214DA6;
  font-family: 'Roboto', sans-serif;
}
picture{
  align-content: left;
  float: right;
}
nav button{
  margin: .2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #F2CDA0;
}
nav {
	background-color:#F25244 ;
	text-align: center;
	box-shadow: 0 2px 15px gray;
  border-radius: 25px;
  position: relative;
  height: 40px;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
  border-top: 1px solid #F2CDA0;
}

nav a:hover {
	background-color: #F2CDA0;
	color: #214DA6;
  
}
nav ul.hide{
  display: none;
}
#info-men{
  display: grid;
}
#img-woman, #img-man{
  grid-template-rows: auto;
}

picture{
  position:absolute;
  left:0;
  top:0;
}

h1{
  color:#F2CDA0;
  font-family: 'Roboto', sans-serif;
}
h2{
  color: #214DA6;
  font-family: 'Roboto', sans-serif;
}
 

.clearfix:after{
  content: "";
display: table;
clear: both;
}
.hero{
  background-color: #F2CDA0;
  padding: 1rem;
  border: 1px dashed #214DA6;
  margin-bottom: 1rem;
}

.day{
  background-color: #F2CDA0;
  padding: 1rem;
  border: 1px dashed #214DA6;
  margin-bottom: 1rem;

  }
.article{
  background-color: #F2CDA0;
  padding: 1rem;
  border: 1px dashed #214DA6;
  margin-bottom: 1rem;
}
.contact{
  background-color: #F2CDA0;
  padding: 1rem;
  border: 1px dashed #214DA6;
  margin-bottom: 1rem;
}
#date{
  color:#F2CDA0;
}
.page-ph{
  margin: 10px auto;
  border: 1px;
  width: 100%;
  height: 250px;
  
}
.pagediv{
  margin: 10px auto;
  position: relative;
  
  
}

.wheatersummary{
  position:absolute;
  top: 10px;
  left: 10px;
  background: radial-gradient (#F2CDA0, #F25244);
  border: 1px solid #214DA6;
  padding: .5rem;
  box-shadow: 0 0 30px #F2CDA0;
  color: #F2CDA0;
  font-family: sans-serif;
}
section p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #fff;
}
.fiveday{
  margin: 10px auto;
  width: 50%;
  display: grid;
  grid-template-columns: 5fr;
  grid-template-rows: 1fr;
}
.monday{
  border: 1px solid #214DA6;
  padding: .5rem;
  color: #F2CDA0;
  font-family: sans-serif;
  grid-column: 1;
  
}
.tuesday{
  border: 1px solid #214DA6;
  padding: .5rem;
  color: #F2CDA0;
  font-family: sans-serif;
  grid-column: 2;
  

}
.wednesday{
  border: 1px solid #214DA6;
  padding: .5rem;
  color: #F2CDA0;
  font-family: sans-serif;
  grid-column: 3;
  

}
.thursday{
  border: 1px solid #214DA6;
  padding: .5rem;
  color: #F2CDA0;
  font-family: sans-serif;
  grid-column: 4;
  

}
.friday{
  border: 1px solid #214DA6;
  padding: .5rem;
  color: #F2CDA0;
  font-family: sans-serif;
  grid-column: 5;

}
.article{
  margin: 10px auto;
  background-color: #F25244;
  border: 1px solid #F2CDA0;

}
.envi{
  float: right;
 
}
.contactinfo{
  margin: 10px auto;
    background-color: #F25244;
    width: 100%;
    height: 250px;
    display: grid;
  grid-template-columns: 5fr;
  grid-template-rows: 5fr;
  }

.local{
  grid-column: 5;
  grid-row: 1;
}
.tel{
  grid-column: 5;
  grid-row: 2;
}
.mail{
  grid-column: 4;
  grid-row: 3;
}
#local{
  grid-column: 4;
  grid-row: 1;
}
#tel{
  grid-column: 4;
  grid-row: 2;
}
#mail{
  grid-column: 4;
  grid-row: 3;
}
.social {
  grid-column: 5;
  grid-row: 4;
  grid-gap: 10em;
  justify-content: end;
}
.QMbmRe{
  width: 450px;
  height: 210px;
}



   
