/* Tablet Views */
@media only screen and (min-width: 32.5em) {
  button {
    display: none;
  float: right;
  }
 
  
  nav ul{margin: 2%;}
  nav ul li {
    float: left;
  }
  nav ul li a {
    border: none;
    border-right: 1px solid #dbdbdb;
    padding: .8rem 1rem;
  }
  nav ul.hide{
    display: block;
  }
 
header,footer{
  border-radius: 25px;
  width: auto;
 }
}