/* Tablet Views */
@media only screen and (min-width: 32.5em) {
  nav button {display: none;}
  nav ul{margin: 2%;}
  nav ul li {
    float: left;
  }
  nav ul li a {
    border: none;
    border-right: 1px solid #F2CDA0;
    padding: .8rem 1rem;
  }
}